@{
  Layout = "_Layout";
}

<h1>Welcome to <span class="logo-text">Zine Organizer</span> for your organization!</h1>
<br>
<p class="btn btn-light">@Html.ActionLink("See your organization's zines", "Index", "Zines")</p>
<p class="btn btn-light">@Html.ActionLink("See your organization's users", "Index", "Users")</p>

