@{
  Layout = "_Layout";
}

<h1>welcome to <span class="logo-text">zine machine</span></h1>
<br>
<p class="btn btn-light">@Html.ActionLink("view zines", "Index", "Zines")</p>
<p class="btn btn-light">@Html.ActionLink("view users", "Index", "Users")</p>
<p class="btn btn-light">@Html.ActionLink("view all posts", "Index", "Posts")</p>

