@{
  Layout = "_Layout";
}

<h1>Welcome to the Client Organizer!</h1>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("See all employees", "Index", "Employees")</p>

