@{
  Layout = "_Layout";
}

<h1>Welcome to the Client Organizer!</h1>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("See all employees", "Index", "Employees")</p>
@* @Html.ActionLink("text display goes here", "Target-Controller-Name", "Name-of-the-controller-without-Controller-appended-to-it") *@
