@{
  Layout = "_Layout";
}

<h1>Welcome to the <span class="logo-text">Employee and Client Organizer</span> for Eau Claire's Salon!</h1>
<br>
<p class="btn btn-light">@Html.ActionLink("See your organization's clients", "Index", "Clients")</p>
<p class="btn btn-light">@Html.ActionLink("See your organization's employees", "Index", "Employees")</p>

