@{
  Layout = "_Layout";
}

<h1>Welcome to <span class="logo-text">Client Organizer</span> for your organization!</h1>
<br>
<p class="btn btn-light">@Html.ActionLink("See your organization's clients", "Index", "Clients")</p>
<p class="btn btn-light">@Html.ActionLink("See your organization's employees", "Index", "Employees")</p>

