@{
  Layout = "_Layout";
}

@model Organization.Models.Employee

<h2>New employee</h2>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {@Class = "form-control"})
  </div>
  <input class="btn btn-light form-group" type="submit" value="Add new employee" />
}
<p class="btn btn-light">@Html.ActionLink("Cancel", "Index")</p>