@{
  Layout = "_Layout";
}

@model Organization.Models.Employee

<h2>Delete Employee</h2>
<hr>
<h5>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.Name)</strong>? This action cannot be undone.</h5>

@using (Html.BeginForm())
{
    <input class="btn btn-light form-group" type="submit" value="Delete" />
}
<p class="btn btn-light">@Html.ActionLink("Cancel", "Index")</p>
