@{
  Layout = "_Layout";
}

@using Organization.Models;
@model List<Organization.Models.Employee>;

<h1>Employees</h1>

<ul>
  @foreach(Employee employee in Model)
  {
      <li>@Html.ActionLink($"{employee.Name}", "Details", new { id = employee.EmployeeId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new employee", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>