@{
  Layout = "_Layout";
}

@using Organization.Models;
@model List<Organization.Models.User>;

<h2>Users</h2>
<hr>
@if (@Model.Count == 0)
{
  <h3>No users have been added yet!</h3>
} 

<ul>
  @foreach(User user in Model)
  {
      <li>@Html.ActionLink($"{user.Name}", "Details", new { id = user.UserId })</li>
  }
</ul>

<p class="btn btn-light">@Html.ActionLink("Add new user", "Create")</p>
<p class="btn btn-light">@Html.ActionLink("Back to Home", "Index", "Home")</p>